*{text-decoration: none
}
body {
    background-color: aliceblue;
}

header {
    background-color:#fff;  
    width:100%;
    height:100px;
}

header .header-brand {
    font-family: 'Playfair';
    font-size: 24px;
    color: #111;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;

}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    float: left;
    display: inline-block;
    list-style: none;
    padding: 0 16 px;
    

}
header nav ul li a {
    font-family: 'Playfair';
    font-size: 16px;
    color: #111;
    
}

/*section page*/

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/zarportrait.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.index-banner h2 {
    font-family: 'Playfair';
    font-size: 60px;
    color: rgb(207, 175, 211);
    text-align: center;
    font-weight: 900;
    line-height: 70px;
    text-shadow: 2px 2px 8px rgb(124, 124, 124)
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
    

}

.index-banner h1 {
    font-family: 'Playfair';
    font-size: 28px;
    color: rgb(207, 175, 211);
    text-align: center;
    font-style: italic;
    line-height: 40px;
    font-weight: 100;
    text-shadow: 2px 2px 8px rgb(124, 124, 124)
}